// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

@import "compass";
@import "compass/css3";

$standard-bg:       #E6F1F4;
$standard-card:     linen;

.environment_banner {
  position:             fixed;
  top:                  0;
  left:                 0;
  z-index:              10000;
}

body.public {
  min-height:       400px;
  background-color: $standard-bg;

  .outter_container {
    height:               100%;

    .content {
      @include            single-box-shadow;
      position:           relative;

      top:                50%;

      background-color:   #754c24;

      width:              920px;

      margin:             0 auto;
      margin-top:         -200px;

      padding:            20px;
      padding-right:      0;

      border:             3px solid darken($standard-bg, 17%);

      h1 {
        color:            #fff;

        @include          text-shadow(rgba(blue, 0.2) 1px 1px 1px);

        font-size:        30px;
        font-family:      'Della Respira', serif;
      }

      ul.rankable {
        margin-top:       20px;
        margin-bottom:    20px;
      }

      .topic {

      }

      .card {
        cursor:           hand;
        @include          single-box-shadow;

        @include          inline-block;
        @include          border-radius(5px);

        border:           1px solid #000;

        background-color: $standard-card;

        margin-right:     15px;

        td {
          @include        text-shadow(white 1px 1px 0px);
          height:         100px;
          width:          165px;
          text-align:     center;

          font-size:        24px;
          font-family:      'Play', sans-serif;;
          color:            navy;
        }
      }
    }
  }
}