// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

@import "compass";
@import "compass/css3";

$standard-bg:       #336078;

body.public {
  background-color: $standard-bg;

  .content {
    width:          920px;

    margin:         0 auto;
  }
}

.topic {
  @include          inline-block;
  @include          border-radius(5px);

  border:           1px solid #000;
  background-color: brown;

  width:            200px;
  height:           100px;
}