<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Della+Respira' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css'>
    <title>Rank My Things</title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield_content :assets %>
  </head>
  <body class="public">
    <div class="content">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'jquery','application' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
  </body>
</html>