<html>
  <head>
    <title>Rank My Things</title>
    <%= stylesheet_link_tag 'application' %>
    <%= yield_content :assets %>
  </head>
  <body class="public">
    <div class="header">

    </div>

    <div class="content">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'jquery','application' %>
  </body>
</html>